body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
label {
    /* font-size: 16px; */
    font-weight: bold;
    margin-bottom: 4px;
}
input {
    /*
    padding: 8px;
    width: 100%;
    font-size: 14px;
    */
    height: 24px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #4CAF50;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
}
button:hover {
    background-color: white;
    color: #4CAF50;
}
canvas {
    margin-top: 20px;
}